<!DOCTYPE html>
<html>
<head>
    <title>Secretary Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <form method="POST" class="bg-white p-8 rounded-xl shadow-md space-y-4 w-96">
        <h2 class="text-2xl font-semibold text-center">Secretary Login</h2>
        <input type="email" name="email" placeholder="Email" required class="w-full border p-2 rounded"/>
        <input type="password" name="password" placeholder="Password" required class="w-full border p-2 rounded"/>
        <button type="submit" class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700">Login</button>
        <p class="text-center text-sm text-gray-600 mt-4">
            Don't have an account?
            <a href="{{ url_for('main.signup_secretary') }}" class="text-blue-500 hover:underline">Sign up here</a>
          </p>
    </form>
    
</body>

</html>